.DS_Store
.idea
single_layer_checkpoints/
black_network_checkpoints/
red_network_checkpoints/
red_network_checkpoints_deconv
black_network_checkpoints_deconv
Red_Scores.txt
Run_Data/
checkpoints/
nn_checkpoints
__pycache__/